<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Produto</title>
</head>
<body>
    <h1>Editar Produto</h1>

    <form action="/atualizar/<%= produto.id %>" method="POST">
        <label for="nome">Nome</label>
        <input type="nome" id="nome" name="nome" value="<%= produto.nome %>" required>
        
        <label for="preco">Preço:</label>
        <input type="number" step="0.01" id="preco" name="preco" value="<%= produto.preco %>" required>

        <label for="descricao">Descricao</label>
        <textarea name="descricao" id="descricao"><%= produto.descricao %></textarea>

        <button type="submit">Atualizar Produto</button>
    </form>
    <a href="/">Voltar para a Lista</a>
</body>
</html>